@use "../abstracts" as *;

.btn {
  @include d-flex(row, center, center);
  background: transparent;
  color: $blue-grey;
  padding: 0.5em 0.8em;
  font-size: 1rem;
  font-family: $font-body;
  border: 1px solid $blue-grey;
  transition: 0.4s;
  .material-icons,
  .fab,
  .far,
  .fas,
  .fal {
    color: inherit;
    margin-right: 0.4em !important;
  }
  &:hover {
    border: 1px solid $cyan;
    color: $cyan;
  }
}
