@use "../abstracts" as *;

@mixin container {
  height: 100vh;
  width: 100vw;
  max-width: 1080px;
  margin: auto;
  position: relative;
}

.App {
  width: 100vw;
  position: relative;
}

.container--flex {
  @include container;
  @include d-flex(column, center, center);
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: linear-gradient(
    to bottom,
    hsl(250, 50%, 5%),
    hsl(250, 50%, 10%),
    hsl(235, 50%, 15%),
    hsl(225, 50%, 16%),
    hsl(220, 50%, 20%),
    hsl(210, 50%, 25%)
  );
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding-bottom: 0.5em;
  opacity: 0.5;
  span {
    color: $blue-grey;
  }
}
