@use "../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: $blue-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 200;
  color: $blue-white;
}

p,
span {
  font-family: $font-body;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 1.5rem;
  color: $blue-grey;
}

.text-center {
  text-align: center;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 25em;
  color: $blue-grey;
  text-align: justify;
}
